<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <script>
        let filterParam = {
            category: {{ filter.getCategory }} ,
            weightMin: {{ filter.weightMin ?? 0 }},
            weightMax: {{ filter.weightMax ?? 0 }},
        };
        const search = window.location.search;
        let locationSearch = {
            page: {{ page ?? 0 }},
            perPage: {{ perPage ?? 20 }},
            query: {{ query ?? "''"}}
        }
    </script>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">KT-TEAM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                   aria-controls="offcanvasExample">
                    Выбрать категорию
                </a>
                <li class="nav-item dropdown primary">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Количество записей на странице
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for countPerPage in [10,20,50] %}
                            <li><a class="dropdown-item a-per-page {% if perPage == countPerPage %} active {% endif %}"
                                   href="#">{{ countPerPage }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#weightModal">
                    Фильтр веса
                </button>

                <button type="button" class="btn btn-success" id="set-filter" onclick="getFilterPage()">
                    Отфильтровать
                </button>
            </ul>
            <div class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск" id="query-string">
                <button class="btn btn-secondary" onclick="queryFilter()">Поиск</button>
            </div>
        </div>
    </div>
</nav>