<nav aria-label="Пример навигации по страницам">
    <ul class="pagination justify-content-center">
        <li class="page-item" data-page="0">
            <a class="page-link{% if page == 0 %} active{% endif %}" href="#">1</a></li>
        <li class="page-item {% if page == 0 %} disabled {% endif %}" data-page="{{ page-1 }}"><a class="page-link"
                                                                                                  href="#">Предыдущая</a>
        </li>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Страница №</span>
            <input type="number" class="form-control" placeholder="{{ page + 1 }}" aria-label="номер страницы"
                   aria-describedby="change-page" value="{{ page + 1 }}" id="page-input">
            <button class="btn btn-outline-primary" type="button" id="change-page" onclick="changePage();">перейти
            </button>
        </div>

        <li class="page-item {% if page == pageCount-1 %} disabled {% endif %}" data-page="{{ page+1 }}"><a
                    class="page-link"
                    href="#">Следующая</a></li>
        {% if pageCount > 0 %}
            <li class="page-item" data-page="{{ pageCount-1 }}">
                <a class="page-link {% if page == pageCount-1 %} active{% endif %}" href="#">{{ pageCount }}</a></li>
        {% endif %}

    </ul>
</nav>